.title
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.App
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input
{
  display: block;
  width: 98.1%;
  /* padding: .375rem .75rem; */
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input:focus
{
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(13 110 253 / 25%);
}

.input::placeholder
{
  color: #6c757d;
  opacity: 1;
}

.button
{
  background-color: #008080;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; */
  /* background-color: transparent;
  border: 1px solid transparent; */
  /* padding: .375rem .75rem;
  font-size: 1rem; */
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
  margin: 0;
  font-family: inherit;
  margin-top: 40px;
  color: white;
}